## E-Sun Credit Card Fraud Detection task

In [11]:
from IPython.display import IFrame
IFrame("dataset_description.pdf", width=600, height=300)

In [1]:
# import modules
%matplotlib inline
import scipy.stats as stats
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train_raw = pd.read_csv('train.csv')

In [3]:
train_raw.sample(5)

,acqic,bacno,cano,conam,contp,csmcu,ecfg,etymd,flbmk,flg_3dsmk,...,iterm,locdt,loctm,mcc,mchno,ovrlt,scity,stocn,stscd,txkey
615279,6769,50876,39085,1583.32,4,62,N,2,N,N,...,0,11,91417.0,343,78638,N,5817,102,0,363789
894400,6032,138963,77541,744.43,5,62,N,5,N,N,...,0,38,193357.0,247,78183,N,3588,102,0,341719
877854,6767,132686,8600,315.18,5,62,N,5,N,N,...,0,12,214934.0,251,18927,N,5817,102,0,982998
1437741,3131,112216,110473,513.80,5,0,N,0,N,N,...,0,26,94059.0,453,544,N,0,102,0,621974
265905,6833,53117,135082,926.07,5,62,N,5,N,N,...,0,31,141440.0,247,38349,N,5858,102,0,852053

In [28]:
txn_num_ByAc = train_raw.groupby('bacno').agg({'txkey':'count', 'conam':'mean'})
pd.set_option('precision', 2)
txn_num_ByAc.describe()

          txkey     conam
count  95214.00  95214.00
mean      15.98    732.57
std       21.02    338.14
min        1.00      0.00
25%        4.00    537.37
50%        9.00    671.96
75%       20.00    837.60
max     1117.00   6728.97

In [33]:
txn_num_ByAc.sample(3)

       txkey   conam
bacno
72182      2  989.88
87106    127  477.27
65571     13  443.84

In [69]:
train_raw[train_raw.bacno==txn_num_ByAc.txkey.argmax()].fraud_ind

62         0
326        0
584        0
1105       0
1708       0
1711       0
1867       0
2280       0
3092       0
3244       0
3315       0
3828       0
4291       0
4516       0
4621       0
4688       0
5406       0
5622       0
6236       0
6696       0
6942       0
7028       0
7414       0
7467       0
9409       0
9929       0
13248      0
14471      0
14539      0
15594      0
          ..
1473321    0
1474723    0
1475374    0
1475476    0
1480002    0
1481711    0
1481857    0
1482147    0
1483339    0
1484138    0
1488978    0
1489373    0
1490191    0
1491758    0
1493290    0
1498998    0
1499293    0
1499330    0
1500495    0
1500915    0
1501347    0
1503221    0
1503487    0
1504466    0
1504613    0
1504968    0
1507103    0
1512564    0
1512995    0
1517689    0
Name: fraud_ind, Length: 1117, dtype: int64

148859